<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><b>ISSUE TRACKER</b></li>
            <li id="open-create-project-modal">Create Project</li>
        </ul>
    </nav>
</header>